.button_container {
    display: grid;
    grid-template-areas: "back . next";
    grid-template-columns: auto 1fr auto;
    margin-top: 40px;
}

.button_blue:hover {
    background: #fff;
    border: 1px solid #5558FA;
    color: #5558FA;
    cursor: pointer;
}
.button_white:hover {
    background: #2d2d83;
    border: #656464;
    color: #FFF;
    cursor: pointer;
}

.button:hover {
    background: #2d2d83;
    border: #656464;
    color: #FFF;
    cursor: pointer;
}
/*TODO: Сделать один стиль для button с его размерами, цвета и бордеры указывать в style*/
.button {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: none;
    transition: all 0.3s ease;
    background: none;
    border: 1px solid #5558FA;
    padding: 0
}

.button_blue {
    width: 79px;
    height: 44px;
    background: #5558FA;
    border-radius: 4px;
    color: white;
    border: none;
    grid-area: next;
    transition: all 0.3s ease;
}

.button_white {
    width: 79px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 4px;
    color: #5558FA;
    border: 1px solid #5558FA;
    grid-area: back;
    transition: all 0.3s ease;
}

